h1{
    text-align: center;
    color: rgb(11, 211, 111);
    background-image: url("imagens/locjordao.png");
    background-position:center;
    background-repeat: no-repeat;
    /* background-size: contain;  */
    display: block;}

.supertitulo{
    font-size: 50px;   
}

#tituloprincipal{
    text-align: center;
    font-size: 90px;
}

.subtitulo{
    font-size: 30px; 
    color: rgb(1, 80, 5);

}


body{
    background-image: url(imagens/gy.jpg);
    background-size:1200px;
    background-attachment: fixed;     
    margin: -60px 400px;
    margin-bottom: 5px;
}


.redessociais{
    color: rgb(6, 10, 241);

}

#bordaredes{
    text-shadow: #000000;
    text-align: center;
    background: rgb(255, 255, 58);
    width: 150px;
    margin: 5px;
    padding: 5px;
    border: 3px solid #000000;
    box-sizing: border-box;
}
.corpo{
    background-color: rgb(234, 255, 215);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}

img{
    border: 3px solid rgb(51, 110, 12);
}
